.about{
    height: 500px;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    margin-top: -100px;
    background-image: url(../Images/night.jpg);
    text-align: center;
}
.about h1{
    position: relative;
   top: 200px;
    color: white;
    font-size: 70px;
}
.abou{
    margin: 40px;
}
@media(max-width:700px){
    .about{
        margin-top: -280px;
    }
    .about h1{
        
       top: 320px;
       
    }
}